@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap');

@import "./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: $main-bg;
}
a {
  text-decoration: none;
  color: inherit;
}

.main{
  font-family: 'Inter', sans-serif;
  background: $main-bg;
  color: $main-color;
}

.container{
  display: flex;
  margin-top: 10px;
}

.menuContainer{
  width: 250px;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;
}

.contentContainer{
  padding: 5px 20px;
  width: 100%;

}